/* header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: lightgreen;
  font-family: sans-serif;
}
hr {
  background: lightgreen;
  height: 0.2rem;
  border: none;
  width: 80%;
  margin: auto;
}
body {
  background: black;
}
a {
  text-decoration: none;
  color: lightgreen;
}
.heading-nav > ul > li > a {
  text-decoration: none;
  padding: 0.2rem;
  text-transform: uppercase;
}
li {
  list-style: none;
}
.heading-wrapper {
  margin: 0 1.5em;
  height: 10vh;
  border-bottom: lightgreen solid;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-nav {
  flex: 2;
  text-align: center;
}
.title {
  text-align: start;
  flex: -2;

  text-transform: capitalize;
}
.sources {
  flex: -2;
}
.sources > a:hover {
  cursor: pointer;
}
.sources > a {
  text-decoration: none;
  padding: 0 1rem;
  font-size: large;
  border: none;
  border: lightgreen solid 0.1rem;
}
ul {
  display: flex;
  justify-content: space-around;
}

/* main */
main > div {
  display: flex;
}
p {
  align-self: center;
}
h2 {
  text-transform: capitalize;
  margin: 1rem;
}
p > a:hover {
  background: lightgreen;
  color: black;
}
iframe {
  width: 90%;
  margin: 0 5%;
  height: calc(100vh - 10vh);
}